<header class="sticky-top">
  <nav class="navbar navbar-light bg-white">
    <h4>Agendamento</h4>
    <button type="button" class="btn btn-info float-right" (click)="onSobre()">Sobre</button>
    <hr />
  </nav>
  <ap-alert></ap-alert>
</header>
