<p-confirmDialog header="Confirmação" icon="pi pi-exclamation-triangle" rejectIcon="pi pi-times ui-button-danger">
</p-confirmDialog>

<div class="container">

    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="card-header">
                    <h5><a data-toggle="collapse" href="#collapse1">Filtro</a></h5>
                </div>
            </div>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="salaInput">Sala</label>
                        <select class="form-control" id="salaSelect" [(ngModel)]="vAgendaFiltro.sala">
                            <option value="">Todos</option>
                            <option value="Sala 1">Sala 1</option>
                            <option value="Sala 2">Sala 2</option>
                        </select>
                    </div>


                    <div class="form-group col-md-3">
                            <div class="form-group">
                            <label>Data Início</label>
                            <br>
                            <input class="form-control"  [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder=""  [(ngModel)]="vAgendaFiltro.dataInicio">
                            <owl-date-time pickerType="calendar" #dt1></owl-date-time>
                            </div>

                    </div>

                    <div class="form-group col-md-3">
                            <div class="form-group">
                            <label>Data Fim</label>
                            <br>
                            <input class="form-control"  [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="" [(ngModel)]="vAgendaFiltro.dataFim">
                            <owl-date-time pickerType="calendar" #dt2></owl-date-time>
                            </div>

                    </div>

                </div>
            </div>
            <div class="card-footer">
                <button (click)="pesquisar()" type="button" class="btn btn-primary">Pesquisar</button>
                <img *ngIf="processando_pesquisa" src="assets/image/index.bar-chart-preloader.gif" />
                {{error_message}}
            </div>
        </div>
    </div>
</div>
<br>
<br>
<section class="container">
    <h5>
        Agendas
        <button type="button" class="btn btn-primary float-right" (click)="onIncluir()">Incluir</button>
    </h5>

    <table class="table table-striped" *ngIf="agendas">
        <thead>
            <tr>
                <th>Sala</th>
                <th>Data/Hora Inicio</th>
                <th>Data/Hora Fim</th>
                <th>Organizador</th>
                <th>T&iacute;tulo</th>
                <th style="text-align: right;">Op&ccedil;&otilde;es</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let agenda of agendas">
                <td>{{agenda.sala}}</td>
                <td>{{agenda.dataHoraInicio | date: 'dd/MM/yyyy HH:mm' }}</td>
                <td>{{agenda.dataHoraFim | date: 'dd/MM/yyyy HH:mm'}}</td>
                <td>{{agenda.organizador}}</td>
                <td>{{agenda.titulo}}</td>
                <td style="text-align: right;">
                    <i class="fa fa-trash fa-lg align-middle mr-2" title="Excluir Registro"
                        (click)="onExcluir(agenda._id)"></i>
                    <i class="fa fa-edit fa-lg align-middle" title="Alterar Registro"
                        (click)="onAlterar(agenda._id)"></i>
                </td>
            </tr>
        </tbody>
    </table>

</section>
