<div class="text-center">
  <img class="img-fluid img-thumbnail" src="../../../../assets/image/squadcaveiras.png">
  <br>
  <br>
  <div class="container col-4">
    <div class="card bg-info text-white">
        <div class="card-body"><b>Participantes</b></div>
    </div>
    <ul class="list-group">
      <li class="list-group-item">Carlos Kazumi</li>
      <li class="list-group-item">Diego Rodrigues</li>
      <li class="list-group-item">Felipe Augusto Maia</li>
      <li class="list-group-item">Hugo Farinas Sobrinho</li>
      <li class="list-group-item">Rodrigo Rios</li>
      <li class="list-group-item">Vivian Barbosa Reis</li>
      <li class="list-group-item">William Rogério da Costa</li>
    </ul>
    <br>
    <button type="button" class="btn btn-primary float-right" (click)="onVoltar()">Voltar</button>
  </div>
</div>
