<section class="container">
    <form [formGroup]="agendaForm" (ngSubmit)="salvarAgenda()">
        <h2>Agende sua Sala</h2>
        <input type="hidden" class="form-control" formControlName="_id" [(ngModel)]="agenda._id" />

        <div class="row">
            <div class="col-md-6">
                <div>
                    <div class="form-group">
                        <label>Sala</label>
                        <select class="form-control" formControlName="sala" [(ngModel)]="agenda.sala"
                            [ngClass]="{ 'is-invalid': submitted && f.sala.errors }">
                            <option value="Sala 1">Sala 1</option>
                            <option value="Sala 2">Sala 2</option>
                        </select>
                        <div *ngIf="submitted && f.sala.errors" class="invalid-feedback">
                            <div *ngIf="f.sala.errors.required">Sala é obrigatório</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label>Data/Hora Início</label>
                    <br>
                    <input class="form-control" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder=""
                        [(ngModel)]="agenda.dataHoraInicio" formControlName="dataHoraInicio" [ngClass]="{ 'is-invalid': submitted && f.dataHoraInicio.errors }">
                    <owl-date-time #dt1></owl-date-time>
                    <div *ngIf="submitted && f.dataHoraInicio.errors" class="invalid-feedback">
                        <div *ngIf="f.dataHoraInicio.errors.required">Dt/Hr Inicio é obrigatório</div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label>Data/Hora Fim</label>
                    <br>
                    <input class="form-control" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder=""
                        [(ngModel)]="agenda.dataHoraFim" formControlName="dataHoraFim" [ngClass]="{ 'is-invalid': submitted && f.dataHoraFim.errors }">
                    <owl-date-time #dt2></owl-date-time>
                    <div *ngIf="submitted && f.dataHoraFim.errors" class="invalid-feedback">
                        <div *ngIf="f.dataHoraFim.errors.required">Dt/Hr Fim é obrigatório</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="form-group col-md-6">
                <label>Título:</label>
                <input type="text" class="form-control" formControlName="tituloAgenda"
                    [ngClass]="{ 'is-invalid': submitted && f.tituloAgenda.errors }" [(ngModel)]="agenda.titulo" />
                <div *ngIf="submitted && f.tituloAgenda.errors" class="invalid-feedback">
                    <div *ngIf="f.tituloAgenda.errors.required">Titulo é obrigatório</div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label>Organizador:</label>
                <input type="text" class="form-control" [(ngModel)]="agenda.organizador" formControlName="organizador"
                    [ngClass]="{ 'is-invalid': submitted && f.organizador.errors }" />
                <div *ngIf="submitted && f.organizador.errors" class="invalid-feedback">
                    <div *ngIf="f.organizador.errors.required">Organizador é obrigatório</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12 ">
                <button class="btn btn-primary mr-3">Salvar</button>
                <button class="btn btn-secondary" (click)="onVoltar()">Voltar</button>
            </div>
        </div>
    </form>

</section>
